<header>
     
        <nav class="navbar navbar-dark  ">
            
            <h1>OG</h1>
                            <div>
                            <a href="/Store/new"> 
                                <button 
                                type="button" class="navbar-brand mb-0 h1  btn btn-secondary">
                                Add product!
                                
                            </button>
                        </a>
                        <a href="/store">
                                <button
                                type="button" class="navbar-brand mb-0 h1  btn btn-secondary">
                                Home
                            </button> 
                            </a>
                            </div>
    </nav>
</header>