<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>

            <a href="/Store/new">Create a Product</a>
            
    </nav>
    <h1>Store</h1>
    <% for (let i = 0; i < storeKey.length; i++){%>
        <a href = "/store/<%= storeKey[i].id%>"><%=storeKey[i].name%></a> 
        <img src="<%= storeKey[i].img%>">
        
    <%}%>
    
</body>
</html>