<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>New page</h1>
    <form action="/store" method="POST">

    <label for="name">name</label>

    <input type="text" name="name" id=“name” />

    <label for="price"> Price</label>

    <input type="text" name="price" id="price">

    <label for="img">Image</label>

    <input type="text" name="img" id="img">

    <label for="description">Description</label>

    <input type="text" name="description" id="description">
    
    <label for="qty">Total</label>

    <input type="text" name="qty" id="qty">
   
    <input type="submit"  value="Add item"/>
     </form>
    
</body>
</html>